@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(233, 93, 58, 0.932);
  font-family: 'Inter', sans-serif;
  color: rgb(190, 29, 29);
}

body {
  background: linear-gradient(135deg, #196cd2, #fef9c3, #fcd34d); /* light bluish-yellow gradient */
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Custom glassmorphism utility */
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
